@import "tailwindcss";
@plugin "daisyui";

.bannerContainer {
  background: url(../src/assets/banner.png), center center, no-repeat;
  background-size: cover;
}
.bannerContent {
  min-height: 90vh;
}
.socialMediaIcon:hover {
  color: #0ea106;
}
.errorPage {
  background: url(../src/assets/404.png), center center, no-repeat;
  background-size: cover;
  min-height: 90vh;
  padding: 20px 0;
}
